* {
  box-sizing: border-box;
}

h2,
p {
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 2em;
}

form {
  font-family: 'Lucida Sans';
  padding: 2%;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 5px;
  border: 5px solid #ccc;
  margin-top: 10px;
  margin-bottom: 18px;
  background-color: #3cbc8d;
  color: white;
  resize: vertical;
}



.click:hover {
  background-color: #39833d;
}

input[type='email'],
input[type='tel'], input[type='url'] {
  width: 100%;
  padding: 5px;
  border: 5px solid #ccc;
  margin-top: 10px;
  margin-bottom: 18px;
  resize: vertical;
}

button {
  cursor: pointer;
}

a {
  padding: 8px;
}

/* Style the container/contact section */
.container {
  border-radius: 10px;
  background-color: #BFF5FD;
  padding: 15px;
}

/* Create 2 columns that float next to each other */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.click {
  background-color: #3cbc8d;
  color: white;
  cursor: pointer;
  display: block;
  margin: auto;
}
